<div class="text-center">
    <h1 translate>home.welcome</h1>

    <form role="form" class="col-md-6 col-md-push-3 form-horizontal">
        <div class="form-group">
            <label for="bet" class="col-md-3" translate>home.bet</label>
            <div class="col-md-9">
                <input type="text" name="bet" id="bet" ng-model="home.bet" class="form-control">
            </div>
        </div>
    </form>

    <div class="col-md-12">
        <a class="btn btn-primary btn-lg" ng-click="home.gotoPlay();" translate>home.play</a>
    </div>
</div>
