<div class="jumbotron container-fluid">
    <div class="row">
        <canvas id="game" width="250" height="200"></canvas>
    </div>

    <div class="row">
        <span class="" translate>slot.bet</span>
    </div>
    <div class="row">
        <strong class="h4">{{slot.bet}}</strong>
    </div>
    <div class="row">
        <span translate>slot.prize</span>
    </div>
    <div class="row">
        <strong class="h1">{{slot.prize | currency}}</strong>
    </div>
    <div class="row">
        <strong class="h3">{{slot.totalPrize | currency}}</strong>
    </div>
</div>


<div class="text-center">
    <a class="btn btn-lg btn-primary" ui-sref="home" translate>slot.back</a>
</div>
